<!DOCTYPE html>
<html>
<head>
    <title>si2 - ex7</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

{{{body}}}


<footer class="footer" style="background-color: #f5f5f5">
    <div class="container">
        <p class="text-muted">
            <a href="https://adeetc.thothapp.com/classes/SI/1617i/LI51D/groups">Created by SI/1617i/LI51D/G1</a>
        </p>
    </div>
</footer>

</body>
</html>