<div class="container">
    <div class="well loginWell">
        <h1 class="loginLabel">Please sign in</h1>
        <form action="/google-login" method="get">
            <button class="loginBtn loginBtn--google" type="submit">
                Login with Google
            </button>
        </form>
    </div>
</div>


