<div class="container">
    <h1>Repository was not found or it is private, please try to log in...</h1>
    <div>
        <form action="/github-login" method="get">
            <button class="loginBtn loginBtn--github" type="submit">
                Log in with GitHub
            </button>
        </form>
    </div>
</div>